## Statistiche descrittive

Consideriamo nuovamente il DataFrame degli incidenti.

In [12]:
import pandas as pd
incidenti = pd.read_json("http://dati.comune.milano.it/dataset/9f7bcc9c-20a4-4e48-a7cd-99b15ed11102/resource/38d2171d-1067-4252-9f96-02867a2cc617/download/ds177_trafficotrasporti_incidenti_stradali_persone_infortunate_mese_zona_2001-2016.json")

La funzione `describe` permette di iniziare l'esplorazione del dataset, calcolando alcune statistiche essenziali.

In [13]:
incidenti.describe()

,Anno,Feriti,Incidenti,Mese,Morti,Zona
count,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1728.000000
mean,2008.500000,145.287500,108.352083,6.500000,0.515104,5.000000
std,4.610973,65.982854,48.726844,3.452952,0.752125,2.582736
min,2001.000000,22.000000,17.000000,1.000000,0.000000,1.000000
25%,2004.750000,96.000000,73.000000,3.750000,0.000000,3.000000
50%,2008.500000,137.000000,103.000000,6.500000,0.000000,5.000000
75%,2012.250000,188.000000,140.000000,9.250000,1.000000,7.000000
max,2016.000000,557.000000,439.000000,12.000000,4.000000,9.000000

Notare che `count` conta il numero di righe per cui la variabile non è nulla.

## Raggruppare righe

Talvolta il fatto che più righe condividano uno stesso valore può essere sfruttare per costruire gruppi di righe, che poi possono essere analizzati separatamente.

Ad esempio, nel dataset `incidenti`, vogliamo contare quanti incidenti abbiamo avuto per ogni zona.
Ciò richiede di raggruppare con una `groupby`.

In [23]:
incidenti.groupby('Zona')

Il risultato di una `groupby` è un oggetto opaco, che può essere sfruttato tramite operatori su gruppi. Ad esempio `count`. 

Notare in questo caso che le righe che hanno *Zona* mancante non vengono considerate nei raggruppamenti.

In [26]:
incidenti.groupby('Zona').count()

      Anno  Feriti  Incidenti  Mese  Morti
Zona
1.0    192     192        192   192    192
2.0    192     192        192   192    192
3.0    192     192        192   192    192
4.0    192     192        192   192    192
5.0    192     192        192   192    192
6.0    192     192        192   192    192
7.0    192     192        192   192    192
8.0    192     192        192   192    192
9.0    192     192        192   192    192

Siccome vogliamo calcolare il numero di incidenti per zona, dobbiamo sommare (ovvero usare una `sum`).

In [31]:
incidenti.groupby('Zona').sum()['Incidenti']

Zona
1.0    24846
2.0    13958
3.0    25470
4.0    20248
5.0    20000
6.0    17524
7.0    21432
8.0    25696
9.0    27392
Name: Incidenti, dtype: int64

## Split --- apply --- combine

In Pandas l'effetto di una groupby è chiamato split-apply-combine, perchè equivale a:
1.  dividere il DataFrame in più parti (o gruppi)
2.  applicare una funzione su ogni gruppo (ad esempio calcolare un massimo)
3.  combinare i risultati per ottenere un unico DataFrame